

.color-text-orange{
 color: #FFA500;
}
.color-text-blue{
 color: #00A4EF;
}
.color-border-orange{
 border-color: #FFA500
}

.linia-separadora{
border-top: 3px solid;
}

.color-text-roja {
color: red;
}