<div class="row">
    <div class="col-md-3 col-3 col-xs-3 col-lg-3">
        <button type="button" style="background-color: rgb(88, 80, 80)"><i class="fa fa-arrow-left" aria-hidden="true"
                style="color:white"> </i><label style="color:white"> Regresar</label> </button>
    </div>
    <div class="col-md-7 col-7 col-xs-7 col-lg-7">
        <h1>ASPIRANTES ADMITIDOS</h1>
    </div>
    <div class="col-md-2 col-2 col-xs-2 col-lg-2">
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6 col-6 col-xs-6 col-lg-6">
        <button class="btn btn-primary" type="button" ng-click="FiltroEspecifico()">Filtro especifico</button>
    </div>
    <div class="col-md-4 col-4 col-xs-4 col-lg-4">
        <button class="btn btn-warning" type="button">Imprimir</button>
    </div>
    <div class="col-md-2 col-2 col-xs-2 col-lg-2">
        <button class="btn btn-warning" type="button">Excel</button>
        <button class="btn btn-warning" type="button">PDF</button>
    </div>
</div>
<div class="col-lg-12">
    <br>
</div>
<label>Filtrado por:</label> <label>Nombre que contenga "J"</label>
<div class="col-lg-12">
    <br>
</div>
<div class="row">
    <div class="col-lg-12">
        <ngb-pagination [collectionSize]=" collectionSize" [(page)]="page" [maxSize]="maxSize" [rotate]="true"
            (pageChange)="pageChanged($event)" [pageSize]="pageSize" [boundaryLinks]="true"
            aria-label="Default pagination">
        </ngb-pagination>
    </div>
</div>
<!--tabla-->
<div class="col-lg-12">
    <table class="table table-bordered">
        <tbody>
            <tr style="background: #a39a96;">
                <th>Imagen</th>
                <th>ID Banner <button ng-click="modalIdBanner()"><i class="fa fa-filter"></i></button></th>
                <th style="color: black;">NOMBRE / EMAIL / NUMERO CELULAR <button
                        ng-click="modalNombreEmailNumeroCelular()"><i class="fa fa-filter"></i></button></th>
                <th style="color: black;">CAMPUS / PROGRAMA / INGRESO <button ng-click="modalCampusProgramaIngreso()"><i
                            class="fa fa-filter"></i></button> </th>
                <th style="color: black;">TIPO DE ALUMNO / TIPO DE ADMISIÓN <button
                        ng-click="modalTipoDeAlumnoTipoAdmision()"><i class="fa fa-filter"></i></button> </th>
                <th style="color: black;"> INVP</th>
                <th style="color: black;"> PAA</th>
                <th style="color: black;"> ESCM ESCP</th>
                <th style="color: black;"> PDU</th>
                <th style="color: black;">ACCIONES</th>
            </tr>
            <tr style="border: 1px solid #f4f5f8;">
                <td>Imagen</td>
                <td>
                    <h5>000036941</h5>
                </td>
                <td>
                    <h5>José Carlos Garcia Romero</h5>
                    <h5>jose@correo.com</h5>
                    <h5>GARC950423HSLRMR05</h5>
                </td>
                <td>
                    <h5>Universidad de Anáhuac México Campus Nort</h5>
                    <h5>Administración y Dirección de empresas</h5>
                    <h5>Agosto 2021</h5>
                </td>
                <td>
                    <h5>Jalisco </h5>
                    <h5>Instituto Cumbres Cozume</h5>
                    <h5>9.4</h5>
                </td>
                <td>
                    <h5>Capturado</h5>
                    <h5>Última modificacion 15-SEP2020 13:5</h5>

                </td>
                <td>3</td>
                <td>2340</td>
                <td>0 0</td>
                <td>
                    <h3 style="text-align: center;"><i class="fa fa-eye" aria-hidden="true"></i> </h3>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-lg-12">
        <ngb-pagination [collectionSize]=" collectionSize" [(page)]="page" [maxSize]="maxSize" [rotate]="true"
            (pageChange)="pageChanged($event)" [pageSize]="pageSize" [boundaryLinks]="true"
            aria-label="Default pagination">
        </ngb-pagination>
    </div>
</div>

<!-- Modal Filtro especifico-->
<div id="FiltroEspecifico" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align: center;">Descripcion del filtro</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 col-4 col-xs-4 col-lg-4">
                        <label>Columna</label>
                        <select class="form-control" name="java" id="">
                            <option disabled value="">Select option...</option>
                            <option></option>
                        </select>
                    </div>
                    <div class="col-md-4 col-4 col-xs-4 col-lg-4">
                        <label></label>
                        <select class="form-control" name="java" id="">
                            <option disabled value="">Select option...</option>
                            <option></option>
                        </select>
                    </div>
                    <div class="col-md-4 col-4 col-xs-4 col-lg-4">
                        <label>valor</label>
                        <input class="form-control" type="text" placeholder="">
                    </div>
                </div>
                <div class="col-lg-12">
                    <br>
                </div>
                <div class="col-lg-12">
                    <table class="table">
                        <tbody>
                            <tr style="background: #a39a96;">
                                <th style="color: black;">Columna</th>
                                <th style="color: black;">Operador</th>
                                <th style="color: black;">Valor</th>
                            </tr>
                            <tr style="border: 1px solid #f4f5f8;">
                                <td>
                                    <h5>Campus</h5>
                                </td>
                                <td>
                                    <h5>Que contenga</h5>
                                </td>
                                <td>
                                    <h5>Universidad Anáhuac México</h5>
                                </td>
                                <td>
                                    <h5><i class="fa fa-times" aria-hidden="true"></i></h5>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-warning">Cancelar</button>
                <button type="button" data-dismiss="modal" class="btn btn-primary">Agregar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Nombre Email -->
<div id="modalNombreEmailNumeroCelular" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align: center;">Filtrado por: Nombre, Email, Numero celular </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 col-4 col-xs-4 col-lg-4">
                        <label>Nombre</label>
                        <input class="form-control" type="text" placeholder="">
                    </div>
                    <div class="col-md-4 col-4 col-xs-4 col-lg-4">
                        <label>Email</label>
                        <input class="form-control" type="text" placeholder="">
                    </div>
                    <div class="col-md-4 col-4 col-xs-4 col-lg-4">
                        <label>Numero Celular</label>
                        <input class="form-control" type="text" placeholder="">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-warning" ng-click="">Cancelar</button>
                <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="">Filtrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Campus programa ingreso-->
<div id="modalCampusProgramaIngreso" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align: center;">Filtrado por: Campus, Programa, Ingreso</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 col-4 col-xs-4 col-lg-4">
                        <label>Campus</label>
                        <input class="form-control" type="text" placeholder="">
                    </div>
                    <div class="col-md-4 col-4 col-xs-4 col-lg-4">
                        <label>Programa</label>
                        <input class="form-control" type="text" placeholder="">
                    </div>
                    <div class="col-md-4 col-4 col-xs-4 col-lg-4">
                        <label>Ingreso</label>
                        <input class="form-control" type="text" placeholder="">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-warning" ng-click="">Cancelar</button>
                <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="">Filtrar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal  filtrado-->
<div id="modalTipoDeAlumnoTipoAdmision" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align: center;">Filtrado por: Tipo alumno, Tipo admisión</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 col-4 col-xs-4 col-lg-4">
                        <label>Tipo alumno</label>
                        <input class="form-control" type="text" placeholder="">
                    </div>
                    <div class="col-md-4 col-4 col-xs-4 col-lg-4">
                        <label>Tipo Admisión</label>
                        <input class="form-control" type="text" placeholder="">
                    </div>
                    <div class="col-md-4 col-4 col-xs-4 col-lg-4">
                        <label>Ultima modificacion</label>
                        <input class="form-control" type="text" placeholder="">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-warning" ng-click="">Cancelar</button>
                <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="">Filtrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal  -->
<div id="modalIdBanner" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align: center;">Filtrado por: ID Banner</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-12 col-xs-12 col-lg-12">
                        <label>ID Banner</label>
                        <input class="form-control" type="text" placeholder="">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-warning" ng-click="">Cancelar</button>
                <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="">Filtrar</button>
            </div>
        </div>
    </div>
</div>