.campus-list-container{
    
}

.campus-element{
    /*width: 25rem;*/
    display: flex;
    align-items: center;
    height: 10rem;
}

.campus-info{
    display: inline-flex;
}

.radio-container{
    display: flex;
    align-items: center;
    padding: 1rem;
}

.anahuac-logo-mini{
    max-width: 4rem;
}