<div id="wizard-container" class="wizard-container">
    <div id="arrow-back" class="arrow-back" ng-click="scrollTo('back')"></div>
    <div id="arrow-forward" class="arrow-forward" ng-click="scrollTo('forward')"></div>
    <div id="wizard_step_{{$index}}" class="wizard-step-container" ng-repeat="step in properties.content" 
        ng-class="{ 'current': $index === properties.selectedIndex, 'completed': $index < maxCompletedStep }" 
        ng-click="selectStepManually($index)">
        <div class="wizard-step" ng-class="{ 'current': $index === properties.selectedIndex, 'completed': $index < maxCompletedStep }" >
            <div class="wizard-step-name">
                {{step.title}}
            </div>
        </div>
    </div>
</div>

<!--<button ng-click="previousStep()">-->
<!--    PREVIOUS-->
<!--</button>-->
<!--<button ng-click="nextStep()">-->
<!--    NEXT-->
<!--</button>-->