

.color-text-orange{
 color: #FFA500;
}

.linia-separadora{
border-top: 3px solid;
}

.lista_roja {
color: red;
}
.color-fondo-green{
    background-color: #6aa84f;
}

.color-fondo-orange{
    background-color: #FFA500;
}

.iconogrande {
    font-size: 34px !important;
}

.color-border{
    border: 2px solid;
}
