
.color-orange{
    color: #ec8300;
}

.form-control{
    border: 1px solid #ec8300;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ec8300;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.nav-tabs>li>a {
    /*background: white;*/
    margin-right: 3px;
    color: #303030;
}

.nav-tabs>li.active>a {
    background: #ec8300;
    margin-right: 3px;
    color: white;
}

.nav-tabs>li.active>a:hover {
    background: #303030;
    margin-right: 3px;
    color: white;
}

.nav-tabs>li.active>a:active {
    background: #ec8300;
    margin-right: 3px;
    color: white;
}

.nav-tabs>li.active>a:focus {
    background: #ec8300;
    margin-right: 3px;
    color: white;
}

.modal-padding{
    padding: 1rem;
}

thead{
    background: #ec8300;
    color: white;
}

.btn-primary {
  color: white;
  background-color: #ec8300;
  border-color: #ec8300; }
  .btn-primary:hover {
    color: white;
    background-color: #c66e00;
    border-color: #b96700; }
  .btn-primary:focus, .btn-primary.focus {
    color: white;
    background-color: #c66e00;
    border-color: #b96700;
    box-shadow: 0 0 0 0.2rem rgba(239, 150, 38, 0.5); }
  .btn-primary.disabled, .btn-primary:disabled {
    color: white;
    background-color: #ec8300;
    border-color: #ec8300; }
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: white;
    background-color: #b96700;
    border-color: #ac6000; }
    .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-primary.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(239, 150, 38, 0.5); 
}

.btn-info {
  color: white;
  background-color: #303030;
  border-color: #303030; }
  .btn-info:hover {
    color: white;
    background-color: #1d1d1d;
    border-color: #171717; }
  .btn-info:focus, .btn-info.focus {
    color: white;
    background-color: #1d1d1d;
    border-color: #171717;
    box-shadow: 0 0 0 0.2rem rgba(79, 79, 79, 0.5); }
  .btn-info.disabled, .btn-info:disabled {
    color: white;
    background-color: #303030;
    border-color: #303030; }
  .btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
  .show > .btn-info.dropdown-toggle {
    color: white;
    background-color: #171717;
    border-color: #101010; }
    .btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
    .show > .btn-info.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(79, 79, 79, 0.5); 
        
}

